name: continuous-integration
on:
  pull_request:
    branches: ["main"]

jobs:
  check-conventional-commits:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: ohpensource/platform-cicd/actions/git/ensure-conventional-commits@8.0.0.0
        name: Ensure conventional commits
        with:
          base-branch: $GITHUB_BASE_REF
          pr-branch: $GITHUB_HEAD_REF
  check-jira-tickets-commits:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: ohpensource/platform-cicd/actions/git/ensure-commits-message-jira-ticket@8.0.0.0
        name: Ensure Jira ticket in all commits
        with:
          base-branch: $GITHUB_BASE_REF
          pr-branch: $GITHUB_HEAD_REF
  validate-iac:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ohpensource/platform-cicd/actions/terraform/tfm-validate@8.0.0.0
        name: validate-terraform
        with:
          terraform-folder: "./"
          use-backend: "false"
  validate-security:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: aquasecurity/tfsec-action@v1.0.1
        name: analyse-security
